*{
    flex-wrap: wrap;
}
.nav{
    background-color: aqua;
    justify-content:space-around;
    display:flex;
    border-style: dashed;
    border-radius: 1rem;
    position: sticky;
    top: 15px;
}
.h1{
    justify-content: center;
    display: flex;
}
.box{ 
    width: 800px; 
    height: 1150px; 
    background-color: aqua;
    margin-left: 150px;
    border-radius: 1rem;
    border-style: dashed;
}
.h2{
    
    margin-left: 30px;
}

.p1, .p2{
  
    margin-left: 30px;
    font-family: Tahoma, sans-serif;
}
.h3{
  
    margin-left: 30px;
}
.ol{
   
    font-family: sans-serif;
}
.box2{
    width: 400px;
    height: 250px;
    background-color: rgb(14, 143, 7);
    border-radius: 1rem;
    border-style: hidden;
    margin-left: 350px;
    margin-top: 50px;
   
}

.img{
    width: 350px;
    height: 150px;
    margin-left: 25px;
    margin-top: 15px;
    border-radius: 1rem;
    border-style: groove;
    border-color: chartreuse;
}

.p3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
    text-align: center;
    color: chartreuse;
}
.mari{
    
    width: 170px;
    height: 170px;
    margin-left: 450px;
    margin-top: 15px;
    border-radius: 50%;
    border-style: solid;
    display: inline-block;
}
.img2{
    width: 170px;
    height: 170px;
    /* margin-left: 455px;
    margin-top: 15px; */
    border-radius: 50%;
}

.div1{
    width: 300px;
    height: 250px;
    margin-top: -250px;
    margin-left: 25px;
    border-radius: 1rem;
    background-color: rgb(14, 143, 7);
}

.img3{
    width: 280px;
    height: 150px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 1rem;
    border-style: solid;
    border-color: chartreuse;

}
.p4{
    font-size: small;
    margin-left: 10px;
    color: chartreuse;
}

.b{
    background-color: rgba(21, 155, 222, 0.901);
}